.TranslationModal {
  .modal-dialog {
    max-width: 40rem;
    min-height: 30rem;
    background: radial-gradient(
    120% 120% at 50% 0%,
    #1e293b 0%,
    #020617 70%
    );
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 0.75rem;
  }

  .modal-header {
    padding: 1.125rem 1.25rem 0;
  }

  .modal-title:not(:only-child) {
    margin: 0 0 0 0.75rem;
  }

  .modal-title{
    display: flex;
    gap: 10px
  }

  .modal-content {
    padding: 0.5rem 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .confirm-dialog-button {
    margin-right: -0.625rem;
  }
  .panel {
  width: 100%;
  color: #e5e7eb;
  font-family: system-ui, sans-serif;
    }

    .tabs {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.05) !important;
    }

    .tab {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 5px 16px;
    font-size: 14px;
    cursor: pointer;
    color: #cbd5f5;

    &.active {
        background: rgba(14, 165, 233, 0.15);
        color: #38bdf8;
        box-shadow: inset 0 0 0 1px #38bdf8;
    }

    &.disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    .comingSoon {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .badge {
        font-size: 10px;
        color: #f87171;
        white-space: nowrap;
    }
    }

    .language-select {
    display: flex;
    align-items: center;
    gap: 8px;

    color: #60a5fa;
    font-size: 14px;
    cursor: pointer;

    .arrow {
        margin-left: auto;
        opacity: 0.8;
    }
    }

    .divider {
    height: 1px;
    margin: 16px 0;
    background: linear-gradient(
        to right,
        transparent,
        rgba(255, 255, 255, 0.15),
        transparent
    );
    }

    .content {
    opacity: 0.7;
    }
    .text-translate{
        border-top: #ffffff84 1px solid;
        margin-top: 10px;
        padding-top: 10px;
    }
    .MessageTranslation{
        position: relative;
    }

    .inputSent{
        z-index: 9;
    }

    .sentButton{
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 10;

        & .btn {
            border: none;
            background: none;
            outline: none;
            cursor: pointer;
        }
    }

    .bubble {
        width: 100% !important;
        max-height: 200px !important;
        overflow: auto !important;
    }

    .translation-language-item {
        padding: 8px 12px;
        cursor: pointer;
        color: #e5e7eb;
        font-size: 14px;
        display: flex;
        gap: 5px;
        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        &.active {
            background-color: rgba(14, 165, 233, 0.15);
            color: #38bdf8;
        }
    }
}

